<%= link_to "View All Restaurants", restaurants_path %> /
<%= link_to "Create New Restaurant", restaurant_path('new') %>
<br>

<h2><%= @restaurant.name %></h2>
Address:
<%= @restaurant.address %>, <%= @restaurant.state %> <%= @restaurant.zip_code %>
<br>
Cuisine Type:
<% if !@restaurant.category.nil? %>
  <%= @restaurant.category.name %>
<% end %>
<br>
Description:
<%= @restaurant.description %>
<br>
<br>
<h3>Reviews:</h3>

<%= link_to "Create New Review", new_restaurant_review_path(@restaurant.id) %>
<br>
<br>
<% @reviews.each do |r| %>
  Rating (1-5): <%= r.rating %> <br>
  Description: <%= r.description %> <br>
  Created <%= r.created_at.strftime("at %I:%M%p") %>
  <br><br>
<% end %>
